body {
  margin: 0;
  padding: 0;
  background-color: #fae2bf;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 10rem;
  color: #d6336c;
  text-shadow: 2px 2px #fff;
  margin-bottom: 20px;
  z-index: 2;
}

h2 {
  font-size: 15rem;
  color: #d6336c;
  text-shadow: 2px 2px #fff;
  margin-bottom: 20px;
  z-index: 2;
}

.flower {
  position: absolute;
  bottom: -10vh;   /* Comienza debajo de la pantalla */
  font-size: 10rem;
  animation: rise linear infinite;
  opacity: 0;
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(0.5) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) scale(1) rotate(360deg);
    opacity: 0;
  }
}

/* Distintas posiciones y velocidades */
.flower:nth-child(2) { left: 15%; animation-duration: 6s; animation-delay: 0s; }
.flower:nth-child(3) { left: 35%; animation-duration: 8s; animation-delay: 2s; }
.flower:nth-child(4) { left: 55%; animation-duration: 7s; animation-delay: 1s; }
.flower:nth-child(5) { left: 75%; animation-duration: 9s; animation-delay: 3s; }
.flower:nth-child(6) { left: 90%; animation-duration: 6.5s; animation-delay: 1.5s; }
.flower:nth-child(7) { left: 1%; animation-duration: 6s; animation-delay: 0s; }
.flower:nth-child(8) { left: 60%; animation-duration: 8s; animation-delay: 2s; }
.flower:nth-child(9) { left: 90%; animation-duration: 7s; animation-delay: 1s; }
.flower:nth-child(10) { left: 5%; animation-duration: 9s; animation-delay: 3s; }
.flower:nth-child(11) { left: 15%; animation-duration: 6.5s; animation-delay: 1.5s; }